$body-bg-color: #ffffff;
$font-color: #101010;
$joinfree-btn-color: #51a867;
$unactive-btn-color: #eeeeee;
$unactive-font-color: #6d6d6d;
$follow-btn-color: #1768f5;

body {
    font-family: 'Roboto', sans-serif;
}