body {
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
}

.photo_collection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 85% 15%;
      grid-template-columns: 85% 15%;
  grid-auto-rows: minmax(1fr, auto);
}

body {
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.like {
  /* for mobile phone */
}

.like .back {
  background-color: white;
  width: 100%;
  height: 30px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 30px;
  color: #6d6d6d;
}

.like .buttonSet {
  margin: auto 0px;
}

.like .buttonSet .gray {
  background-color: white;
  border-radius: 10%;
  padding: 8px 22px;
  border: 1px solid #6d6d6d;
  font-size: 15px;
  color: #6d6d6d;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.like .buttonSet .gray:hover {
  background-color: white;
  border-radius: 10%;
  padding: 8px 22px;
  border: 1px solid black;
  font-size: 15x;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.like .buttonSet .colored {
  background-color: green;
  border-radius: 10%;
  padding: 8px 22px;
  border: 1px solid green;
  border: none;
  font-size: 15px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.like .buttonSet .colored:hover {
  background-color: rgba(0, 128, 0, 0.884);
  border-radius: 10%;
  padding: 8px 22px;
  border: 1px solid rgba(0, 128, 0, 0.884);
  border: none;
  font-size: 15px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.like .forMobile {
  visibility: hidden;
}

.like .likeHeader {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: 0;
}

.like .likeHeader .buttonSet {
  margin-right: 20px;
}

.like .likeHeader .accountIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.like .likeHeader .accountIcon .accountInfo {
  line-height: 6px;
  margin: auto 10px;
}

.like .likeHeader .accountIcon img {
  width: 80px;
  margin: 20px;
  border-radius: 50%;
}

.like .likeContainer {
  width: 90%;
  margin: 30px auto;
}

.like .likeContainer .mainPic {
  width: 90%;
  margin: 0 auto;
}

.like .likeContainer .mainPic img {
  width: 100%;
}

.like .likeContainer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
}

.like .subPic {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.like .subPic img {
  width: 30%;
  margin: 0 auto;
}

.like .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.like .tags p {
  display: block;
  margin: 10px;
  background-color: #d2d2d2;
}

.like .tags a {
  text-decoration: none;
  color: black;
}

@media (max-width: 480px) {
  .like .forDesktop {
    visibility: hidden;
    position: absolute;
    top: 0;
  }
  .like .forMobile {
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .like .subPic {
    margin-top: 30px;
    display: block;
  }
  .like .subPic img {
    width: 100%;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=main.css.map */