body {
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
}

.photo_collection {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 85% 15%;
      grid-template-columns: 85% 15%;
  grid-auto-rows: minmax(1fr, auto);
}

body {
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.like .back {
  background-color: white;
  width: 100%;
  height: 30px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 30px;
  color: #6d6d6d;
}

.buttonSet {
  margin: auto 0px;
}

.buttonSet .gray {
  background-color: white;
  border-radius: 10%;
  padding: 8px 22px;
  border: 1px solid #6d6d6d;
  font-size: 15px;
  color: #6d6d6d;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.buttonSet .gray:hover {
  background-color: white;
  border-radius: 10%;
  padding: 8px 22px;
  border: 1px solid black;
  font-size: 15x;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.buttonSet .colored {
  background-color: green;
  border-radius: 10%;
  padding: 8px 22px;
  border: 1px solid green;
  border: none;
  font-size: 15px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.buttonSet .colored:hover {
  background-color: rgba(0, 128, 0, 0.884);
  border-radius: 10%;
  padding: 8px 22px;
  border: 1px solid rgba(0, 128, 0, 0.884);
  border: none;
  font-size: 15px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.likeHeader {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.likeHeader .buttonSet {
  margin-right: 20px;
}

.likeHeader .accountIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.likeHeader .accountIcon .accountInfo {
  line-height: 6px;
  margin: auto 10px;
}

.likeHeader .accountIcon img {
  width: 80px;
  margin: 20px;
  border-radius: 50%;
}

.likeContainer {
  width: 90%;
  margin: 30px auto;
}

.likeContainer .mainPic {
  width: 90%;
  margin: 0 auto;
}

.likeContainer .mainPic img {
  width: 100%;
}

.likeContainer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
}

.subPic {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subPic img {
  width: 30%;
  margin: 0 auto;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tags p {
  display: block;
  margin: 10px;
  background-color: #d2d2d2;
}

.tags a {
  text-decoration: none;
  color: black;
}
/*# sourceMappingURL=main.css.map */